*{
	padding:0;
	margin:0;
}

.nav-wrapper{
   width: 100%;
   text-align: center;
    li {
     float: none;
     display: inline-block;
    .enlaces:hover{
	color:$color_fondo;
	 }
   }
 }

.contenedor-uno{
	background-color:$color_fondo;
	width:100%;
	margin-top: -40px;
	padding-bottom:20px;
	.img-circle{
	position: relative;
    top: -100px;
    z-index: 100;
    border: 5px solid $color_borde;
	}
}

a.read-more{
	text-decoration:none;
	color:black;
	background-color:$color_borde;
	padding:9px;
	margin-top:40px;
}

.contenedor-dos{
	padding: 50px;
	 .texto-rojo{
 	color:$texto-rojo;
 	}
}

.contenedor-tres{
	background-color:$color-cafe;
	width:100%;
	color:$color_fondo;
	padding:40px;
		.img-uno{
		margin-left:-60px;
	}
}

 .footer{
 	background-color:$footer;
 	color:$color_fondo;
 	padding:50px;
 	.redes-sociales{
	background-color:$color-fondo;
	border: 5px solid $color_borde;
	width: 80px;
   }
}

 .img{
 	border-radius:6px;
 }

